@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200&family=Poppins:wght@400;500;600;700;900&family=Raleway&display=swap%27");
*{
  margin: 0;
  padding: 0;
  text-decoration: none;

  font-family: 'Raleway', sans-serif;
}
.corpo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 100px;
} 

.card{
  background-color: transparent;
  width: 400px;
  height: 600px;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
  box-shadow: rgba(65, 65, 70, 0.05) 0px 4px 16px, rgba(75, 75, 84, 0.05) 0px 8px 32px;
}
.card-back{
  border-radius: 10px;
  background-color: #ac8cc8b1;
  color: #fff;
  transform: rotateY(180deg);
} 
.card-front{
  border-radius: 10px;
  background-color: #f0dfff;
  font-size: 15px;

}
.content-card{
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 22px;
}
.button{
  height: 50px;
  width: 90px;
  background-color: #f0dfff;
  border: none;
  border-radius: 5px;
  color: rgb(52, 8, 67);
  cursor: pointer;
  margin-top: 20px;
  font-size: 25px;
}
.button:hover{
  background-color: #e7ccff;
}
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  
}
.card:hover .flip-card-inner {
  transform: rotateY(180deg);
}
.card-front, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* .more{
  position: absolute;
  right: 20px;
  top: 5px;
  font-size: 30px;
  font-weight: 800;
  width: 25px;
  height: 25px;
  text-align: justify;
  border: 1px solid #000;
  border-radius: 50px;
} */

