<div class="corpo">
<div class="card">
  <div class="card-front">
    <div class="more">+</div>
    <img src="https://cdn-icons.flaticon.com/png/512/1993/premium/1993363.png?token=exp=1660866707~hmac=9a113d09253c96d681ff3a35ee4bee98" height="150px">
  </div>





  <div class="card-back">
    <div class="img-button">
      <div class="minus">-</div>
        <img src="https://cdn-icons.flaticon.com/png/512/1993/premium/1993363.png?token=exp=1660866707~hmac=9a113d09253c96d681ff3a35ee4bee98" height="100px">
    </div>
    <table>
      <tr>
        <td>Nome</td>
        <td>Curso</td>
      </tr>
      <tr>
        <td>Objetivo Profissional</td>
        <td>Hobbies</td>
      </tr>
    </table>
    <button>GitHub</button>
  </div>
</div>



<div class="card">
  <div class="card-front">
    <div class="more">+</div>
    <img src="https://cdn-icons.flaticon.com/png/512/1993/premium/1993182.png?token=exp=1660866337~hmac=0764438103262e409391ea58c68892ab" height="150px">
  </div>





  <div class="card-back">
    <div class="minus">-</div>
    <img src="https://cdn-icons.flaticon.com/png/512/1993/premium/1993182.png?token=exp=1660866337~hmac=0764438103262e409391ea58c68892ab" height="100px">
    <table>
      <tr>
        <td>Nome</td>
        <td>Curso</td>
      </tr>
      <tr>
        <td>Objetivo Profissional</td>
        <td>Hobbies</td>
      </tr>
    </table>
    <button>GitHub</button>
  </div>
</div>
</div>
<router-outlet></router-outlet>
