<div class="corpo">
  <!-- Card Mayara -->
  <div class="card">
    <div class="flip-card-inner">
      <div class="card-front">
        <img src="https://cdn-icons-png.flaticon.com/512/2922/2922656.png" height="300px"
          style="margin-top:100px; margin-bottom: 15px;">
        <h1>Mayara</h1>
      </div>
      <div class="card-back">
        <img src="https://cdn-icons-png.flaticon.com/512/2922/2922656.png" height="200px" style="margin-top:50px ;"><br>
        <div class="content-card">
          <p style="font-weight: 600; font-size: 24px;">Mayara Pilecarte de Melo</p>
          <p>Curso: &nbsp; Desenvolvimento de Sistemas</p>
          <p>Obj. Prof.: &nbsp; Trabalhar como Front-End</p>
          <p>Hobbies: &nbsp; Aprender novas linguas</p>
          <a href="https://github.com/MPilecarte"><button class="button">Github</button></a>
        </div>
      </div>
    </div>
  </div>
  <!-- Card Nicolly -->
  <div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <img src="https://cdn-icons-png.flaticon.com/512/2922/2922650.png" height="300px" height="300px"
          style="margin-top:100px; margin-bottom: 15px;">
        <h1>Nicolly</h1>
      </div>
      <div class="flip-card-back">
        <img class="img" src="https://cdn-icons-png.flaticon.com/512/2922/2922650.png" height="200px"
          style="margin-top:50px ;">
        <div class="content-card">
          <h3>Nicolly Sodré Mendes</h3>
          <p>Curso: Desenvolvimento de Sistemas</p>
          <p>Obj.Prof.: Desenvolver Front-End</p>
          <p>Hobbies: Ler, desenhar e dançar</p>
          <a href="https://github.com/NicollySodre" target="_blank" rel="noopener noreferrer">
            <button>Github</button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>